.search-form {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.search-form-field {
    width: 100%;
}

.flex-container {
    display: flex;
    padding-left: 2%;
    flex-direction: row;
    flex-wrap: wrap;
}

.example-card {
    max-width: 260px;
    margin: 10px;
  }
   
  .form {
    min-width: 400px;
    max-width: 500px;
    width: 400px;
}
