<h2 mat-dialog-title>Create a data set</h2>
<mat-dialog-content>
    <form class="form" [formGroup]="createDataSetForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="width:100%;">
            <input placeholder="Name" matInput formControlName="Name">
            <mat-error *ngIf="Name.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%;">
            <input placeholder="Description" matInput formControlName="Description">
            <mat-error *ngIf="Description.hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <mat-select placeholder="X component" formControlName="XComponentId">
                <mat-option *ngFor="let file of files" [value]="file.id">
                {{file.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="XComponentId.hasError('required')">
                X component is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <mat-select placeholder="Y component" formControlName="YComponentId">
                <mat-option *ngFor="let file of files" [value]="file.id">
                    {{file.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="YComponentId.hasError('required')">
                Y component is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="!createDataSetForm.valid" mat-raised-button color="primary">Create</button>
    </form>
</mat-dialog-content>
