<div class="container">
  <div class="about">
    <div class="feature">
      <div class="with-icon">
        <mat-icon class="icon">dns</mat-icon> Unlimited Machine Learning Pipelines.
      </div>
    </div>
    <div class="feature">
      <div class="with-icon">
        <mat-icon class="icon">security</mat-icon> Militry Grade Security.
      </div>
    </div>
    <div class="feature">
      <div class="with-icon">
        <mat-icon class="icon">cloud</mat-icon> 99.99% Up Time.
      </div>
    </div>
    <div class="feature">
      <div class="with-icon">
        <mat-icon class="icon">devices_other</mat-icon> Works Anywhere.
      </div>
    </div>
  </div>
  <div class="registration-form">
    <div class="form">
      <div class="form-header">
        <div class="logo" style="height:25px;width:25px;">

        </div>
        <h4>Join us today</h4>
      </div>
      <div class="form-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field">
            <input placeholder="First Name" matInput formControlName="firstName">
            <mat-error *ngIf="firstName.hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="firstName.hasError('minlength')">
              First name is <strong>too small</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input placeholder="Last Name" matInput formControlName="lastName">
            <mat-error *ngIf="lastName.hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="lastName.hasError('minlength')">
              Last name is <strong>too small</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input placeholder="Email" matInput formControlName="email">
            <mat-error *ngIf="email.hasError('required')">
              <div>Email is <strong>required</strong></div>
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              <div>Email is <strong>not valid</strong></div>
            </mat-error>
          </mat-form-field>
          <div formGroupName="passwords">
              <mat-form-field class="form-field">
                <input type="password" placeholder="Password" matInput formControlName="password">
                <mat-error *ngIf="password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="password.hasError('minlength')">
                  Password must contain at least <strong>6 characters</strong>
                </mat-error>
                <mat-error *ngIf="password.hasError('maxlength')">
                  Password can contain at most <strong>20 characters</strong>
                </mat-error>
                <mat-error *ngIf="password.hasError('strongPassword')">
                  Password must contain <strong>1 upper case letter, 1 lower case letter, 1 one digit and 1 symbol</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field">
                <input type="password" placeholder="Confirm Password" matInput formControlName="confirmPassword">
                <mat-error *ngIf="confirmPassword.hasError('required')">
                  Confirm password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwords.hasError('notEqual')">
                  Passwords do <strong>not match</strong>
                </mat-error>
              </mat-form-field>
          </div>
          <mat-form-field class="form-field">
            <input type="date" placeholder="Date of Birth" matInput formControlName="dateOfBirth">
            <mat-error *ngIf="dateOfBirth.hasError('required')">
              Date of birth is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button type="submit" [disabled]="!registerForm.valid" mat-raised-button color="primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
